* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1400px;
    margin: 1.5rem auto;
}


.debug header { 
    height: 100px;
    background-color: rgb(215	126	225	) ;
}

.debug .banner {
    background-color: rgb(223	214	134);
    height: 300px;
}

.debug .section-main {
    background-color: darkblue;

}

.debug .section-header {
    height: 50px;
    background-color: rgb(164	190	211);
}

.debug .col {
    height: 300px;
    background-color: rgb(164	190	211);
}

.debug footer {
    background-color: darkmagenta;
    height: 100px;

}


/* MAIN CSS */


.banner { 
    margin: 1rem 0;
}

.section-main {
    width: 100%;
    height: 300px;
    padding-bottom: 1rem;
    margin-bottom: .5rem;

}

.section-header {
    margin-bottom: 1rem;
}

.col {
    width: 20%;
    float: left;
}

.col-center {
    width: 50%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.col-left,
.col-right {
    width: calc((100% - 50% - 2rem) / 2);
}